  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:4rem;
    padding: 1rem 10%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.content{
    padding: calc(4rem) 2rem;
    overflow: auto;
    height: 100vh;
}
.button{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border-radius: 0.6rem;
}
.home{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_avatar{
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 1rem 0;
}
.row-flex{
    gap: 1rem;
    justify-content: space-between;
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}
._card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 3rem;
    padding: 2rem;
    transition: 0.3s ease-in-out;
}
._card:hover{
    transform: translateY(-3rem);
}
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff;
}

 
.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 18;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #583C87;
    top: 50%;
    left: 15%;
    animation-duration: 205s;
    animation-delay: -205s;
    transform-origin: -20vw 0vh;
    box-shadow: 2vmin 0 0.8972953290223398vmin currentColor;
}
.background span:nth-child(1) {
    color: #FFACAC;
    top: 27%;
    left: 75%;
    animation-duration: 103s;
    animation-delay: -30s;
    transform-origin: 24vw -6vh;
    box-shadow: 2vmin 0 0.945949328003435vmin currentColor;
}
.background span:nth-child(2) {
    color: #FFACAC;
    top: 61%;
    left: 5%;
    animation-duration: 10s;
    animation-delay: -99s;
    transform-origin: 6vw 6vh;
    box-shadow: 2vmin 0 1.0970332438770394vmin currentColor;
}
.background span:nth-child(3) {
    color: #583C87;
    top: 85%;
    left: 88%;
    animation-duration: 13s;
    animation-delay: -284s;
    transform-origin: 17vw -13vh;
    box-shadow: 2vmin 0 1.0683446226390847vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 34%;
    left: 36%;
    animation-duration: 238s;
    animation-delay: -296s;
    transform-origin: -16vw -1vh;
    box-shadow: 2vmin 0 0.9455540075943076vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 53%;
    left: 73%;
    animation-duration: 124s;
    animation-delay: -43s;
    transform-origin: -8vw -8vh;
    box-shadow: 2vmin 0 0.5921328470686984vmin currentColor;
}
.background span:nth-child(6) {
    color: #E45A84;
    top: 2%;
    left: 56%;
    animation-duration: 93s;
    animation-delay: -39s;
    transform-origin: -16vw -23vh;
    box-shadow: 2vmin 0 0.3656409046876645vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 46%;
    left: 43%;
    animation-duration: 259s;
    animation-delay: -250s;
    transform-origin: 1vw 11vh;
    box-shadow: -2vmin 0 0.3483382652180631vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 60%;
    left: 79%;
    animation-duration: 253s;
    animation-delay: -281s;
    transform-origin: -20vw -5vh;
    box-shadow: 2vmin 0 0.721177580666591vmin currentColor;
}
.background span:nth-child(9) {
    color: #FFACAC;
    top: 83%;
    left: 17%;
    animation-duration: 246s;
    animation-delay: -94s;
    transform-origin: -1vw -2vh;
    box-shadow: 2vmin 0 0.7570356758948256vmin currentColor;
}
.background span:nth-child(10) {
    color: #E45A84;
    top: 29%;
    left: 17%;
    animation-duration: 156s;
    animation-delay: -263s;
    transform-origin: -21vw 6vh;
    box-shadow: 2vmin 0 1.189996181552088vmin currentColor;
}
.background span:nth-child(11) {
    color: #583C87;
    top: 19%;
    left: 63%;
    animation-duration: 49s;
    animation-delay: -302s;
    transform-origin: -11vw -21vh;
    box-shadow: -2vmin 0 0.6098470738148272vmin currentColor;
}
.background span:nth-child(12) {
    color: #583C87;
    top: 37%;
    left: 72%;
    animation-duration: 195s;
    animation-delay: -113s;
    transform-origin: -2vw -18vh;
    box-shadow: -2vmin 0 0.4112332459166388vmin currentColor;
}
.background span:nth-child(13) {
    color: #FFACAC;
    top: 14%;
    left: 25%;
    animation-duration: 210s;
    animation-delay: -80s;
    transform-origin: 16vw -20vh;
    box-shadow: 2vmin 0 0.700252738787829vmin currentColor;
}
.background span:nth-child(14) {
    color: #583C87;
    top: 65%;
    left: 47%;
    animation-duration: 258s;
    animation-delay: -157s;
    transform-origin: 20vw 4vh;
    box-shadow: 2vmin 0 0.27806490044700993vmin currentColor;
}
.background span:nth-child(15) {
    color: #FFACAC;
    top: 18%;
    left: 5%;
    animation-duration: 319s;
    animation-delay: -169s;
    transform-origin: 16vw -4vh;
    box-shadow: 2vmin 0 0.9952956459231221vmin currentColor;
}
.background span:nth-child(16) {
    color: #E45A84;
    top: 27%;
    left: 6%;
    animation-duration: 269s;
    animation-delay: -1s;
    transform-origin: -7vw 0vh;
    box-shadow: -2vmin 0 0.3818494098938632vmin currentColor;
}
.background span:nth-child(17) {
    color: #583C87;
    top: 70%;
    left: 14%;
    animation-duration: 181s;
    animation-delay: -39s;
    transform-origin: -21vw -13vh;
    box-shadow: -2vmin 0 0.7766468167434293vmin currentColor;
}
.background span:nth-child(18) {
    color: #FFACAC;
    top: 94%;
    left: 29%;
    animation-duration: 248s;
    animation-delay: -158s;
    transform-origin: -15vw -2vh;
    box-shadow: -2vmin 0 0.9393551292220041vmin currentColor;
}
.background span:nth-child(19) {
    color: #E45A84;
    top: 21%;
    left: 92%;
    animation-duration: 234s;
    animation-delay: -199s;
    transform-origin: -11vw 22vh;
    box-shadow: -2vmin 0 0.9884368285529992vmin currentColor;
}
.background span:nth-child(20) {
    color: #FFACAC;
    top: 94%;
    left: 6%;
    animation-duration: 279s;
    animation-delay: -238s;
    transform-origin: -9vw -21vh;
    box-shadow: 2vmin 0 1.0511266653794347vmin currentColor;
}
.background span:nth-child(21) {
    color: #FFACAC;
    top: 70%;
    left: 70%;
    animation-duration: 85s;
    animation-delay: -226s;
    transform-origin: -22vw -3vh;
    box-shadow: -2vmin 0 0.5246719304465604vmin currentColor;
}
.background span:nth-child(22) {
    color: #583C87;
    top: 65%;
    left: 1%;
    animation-duration: 238s;
    animation-delay: -194s;
    transform-origin: -19vw 11vh;
    box-shadow: -2vmin 0 0.4308378102646213vmin currentColor;
}
.background span:nth-child(23) {
    color: #E45A84;
    top: 9%;
    left: 1%;
    animation-duration: 125s;
    animation-delay: -12s;
    transform-origin: 21vw 6vh;
    box-shadow: 2vmin 0 1.2460580529361447vmin currentColor;
}
.background span:nth-child(24) {
    color: #FFACAC;
    top: 33%;
    left: 59%;
    animation-duration: 262s;
    animation-delay: -313s;
    transform-origin: -8vw -5vh;
    box-shadow: 2vmin 0 0.8437709405603244vmin currentColor;
}
.background span:nth-child(25) {
    color: #583C87;
    top: 16%;
    left: 90%;
    animation-duration: 134s;
    animation-delay: -304s;
    transform-origin: -23vw 17vh;
    box-shadow: 2vmin 0 1.133446716128363vmin currentColor;
}
.background span:nth-child(26) {
    color: #583C87;
    top: 62%;
    left: 89%;
    animation-duration: 175s;
    animation-delay: -124s;
    transform-origin: 6vw 10vh;
    box-shadow: -2vmin 0 0.8044777668833321vmin currentColor;
}
.background span:nth-child(27) {
    color: #E45A84;
    top: 46%;
    left: 31%;
    animation-duration: 172s;
    animation-delay: -23s;
    transform-origin: 20vw 11vh;
    box-shadow: -2vmin 0 0.33483234271138307vmin currentColor;
}
.background span:nth-child(28) {
    color: #583C87;
    top: 8%;
    left: 20%;
    animation-duration: 222s;
    animation-delay: -252s;
    transform-origin: -5vw 8vh;
    box-shadow: 2vmin 0 0.6255248400562281vmin currentColor;
}
.background span:nth-child(29) {
    color: #E45A84;
    top: 81%;
    left: 99%;
    animation-duration: 249s;
    animation-delay: -155s;
    transform-origin: -14vw 9vh;
    box-shadow: 2vmin 0 0.7523490332609539vmin currentColor;
}
.background span:nth-child(30) {
    color: #E45A84;
    top: 17%;
    left: 31%;
    animation-duration: 261s;
    animation-delay: -102s;
    transform-origin: 3vw -10vh;
    box-shadow: -2vmin 0 0.7781643004922032vmin currentColor;
}
.background span:nth-child(31) {
    color: #583C87;
    top: 47%;
    left: 29%;
    animation-duration: 211s;
    animation-delay: -202s;
    transform-origin: 16vw 24vh;
    box-shadow: 2vmin 0 0.36460843443401214vmin currentColor;
}
.background span:nth-child(32) {
    color: #E45A84;
    top: 41%;
    left: 2%;
    animation-duration: 158s;
    animation-delay: -188s;
    transform-origin: -5vw -19vh;
    box-shadow: 2vmin 0 0.5697279198737109vmin currentColor;
}
.background span:nth-child(33) {
    color: #583C87;
    top: 46%;
    left: 11%;
    animation-duration: 260s;
    animation-delay: -230s;
    transform-origin: -2vw 14vh;
    box-shadow: 2vmin 0 0.7922058374722654vmin currentColor;
}
.background span:nth-child(34) {
    color: #FFACAC;
    top: 73%;
    left: 15%;
    animation-duration: 41s;
    animation-delay: -101s;
    transform-origin: 3vw -5vh;
    box-shadow: 2vmin 0 1.0879528812791006vmin currentColor;
}
.background span:nth-child(35) {
    color: #FFACAC;
    top: 96%;
    left: 75%;
    animation-duration: 206s;
    animation-delay: -114s;
    transform-origin: 7vw -4vh;
    box-shadow: 2vmin 0 0.4873296003682126vmin currentColor;
}
.background span:nth-child(36) {
    color: #FFACAC;
    top: 72%;
    left: 64%;
    animation-duration: 63s;
    animation-delay: -46s;
    transform-origin: 7vw -21vh;
    box-shadow: 2vmin 0 1.0105277833926363vmin currentColor;
}
.background span:nth-child(37) {
    color: #E45A84;
    top: 81%;
    left: 99%;
    animation-duration: 179s;
    animation-delay: -246s;
    transform-origin: 14vw 11vh;
    box-shadow: 2vmin 0 0.6187103003073513vmin currentColor;
}
.background span:nth-child(38) {
    color: #E45A84;
    top: 78%;
    left: 22%;
    animation-duration: 205s;
    animation-delay: -67s;
    transform-origin: -19vw -2vh;
    box-shadow: -2vmin 0 0.2805942812514648vmin currentColor;
}
.background span:nth-child(39) {
    color: #FFACAC;
    top: 100%;
    left: 46%;
    animation-duration: 251s;
    animation-delay: -155s;
    transform-origin: 2vw -6vh;
    box-shadow: 2vmin 0 0.9268111562855523vmin currentColor;
}
.background span:nth-child(40) {
    color: #E45A84;
    top: 94%;
    left: 87%;
    animation-duration: 14s;
    animation-delay: -187s;
    transform-origin: -22vw 23vh;
    box-shadow: 2vmin 0 0.67342693519158vmin currentColor;
}
.background span:nth-child(41) {
    color: #583C87;
    top: 6%;
    left: 90%;
    animation-duration: 199s;
    animation-delay: -314s;
    transform-origin: -15vw -2vh;
    box-shadow: 2vmin 0 1.1319368643586005vmin currentColor;
}
.background span:nth-child(42) {
    color: #FFACAC;
    top: 85%;
    left: 66%;
    animation-duration: 179s;
    animation-delay: -297s;
    transform-origin: 10vw 16vh;
    box-shadow: -2vmin 0 0.8403685044919207vmin currentColor;
}
.background span:nth-child(43) {
    color: #E45A84;
    top: 50%;
    left: 65%;
    animation-duration: 313s;
    animation-delay: -45s;
    transform-origin: 21vw -1vh;
    box-shadow: 2vmin 0 0.8403251208004252vmin currentColor;
}
.background span:nth-child(44) {
    color: #FFACAC;
    top: 20%;
    left: 65%;
    animation-duration: 44s;
    animation-delay: -94s;
    transform-origin: 17vw 3vh;
    box-shadow: -2vmin 0 0.9890283212146171vmin currentColor;
}
.background span:nth-child(45) {
    color: #E45A84;
    top: 93%;
    left: 92%;
    animation-duration: 316s;
    animation-delay: -28s;
    transform-origin: -1vw 21vh;
    box-shadow: 2vmin 0 0.6137230166596506vmin currentColor;
}
.background span:nth-child(46) {
    color: #E45A84;
    top: 84%;
    left: 64%;
    animation-duration: 107s;
    animation-delay: -30s;
    transform-origin: 2vw 1vh;
    box-shadow: -2vmin 0 1.211414097819247vmin currentColor;
}
.background span:nth-child(47) {
    color: #FFACAC;
    top: 70%;
    left: 92%;
    animation-duration: 282s;
    animation-delay: -227s;
    transform-origin: -22vw -6vh;
    box-shadow: 2vmin 0 1.0705507415048605vmin currentColor;
}
